@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Erreur interne du serveur - Freelancer.mg</title>
    <link rel="stylesheet" type="text/css" href="/css/error/500.css">
</head>
<body>
<div id="error">
    <div id="box"></div>
    <h3>ERREUR 500</h3>
    <p>Les choses sont un peu  <span>instable</span> ici</p>
    <p>Je suggère de revenir plus tard.</p>
</div>
</body>
</html>