@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page non trouvée - Freelancer.mg</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/plugins/fontawesome/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/error/404.css" />
</head>
<body>
<div id="notfound">
    <div class="notfound-bg">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="notfound">
        <div class="notfound-404">
            <h1>404</h1>
        </div>
        <h2>Page non trouvée</h2>
        <p>La page que vous recherchez a peut-être été supprimée si son nom a été modifié ou est temporairement indisponible.</p>
    </div>
</div>
</body>
</html>